.img{
  width: 80px;
  height: 80px;
  border-radius:50%;
}
.profile{
  display:flex;
  align-items:center;
  justify-content:center;
  height:70vh;
  border:2px solid black;
}
.me{
   /* display:flex;
     align-items:center;
  justify-content:center; */
  margin:auto;
}
